@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: rgb(240, 248, 248);
    border: solid 2px;
    border-color: aliceblue;
}
.Navs_li{
    list-style-type: none;
    margin-bottom: 5px ;
    margin-right: 20px;
    background-color: rgb(255, 173, 49);
    border-radius: 10px;
    width: 200px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.Navs_log_user{
    list-style-type: none;
    margin-bottom: 5px ;
    margin-right: 20px;
    background-color: rgb(66, 11, 218);
    border-radius: 10px;
    width: 200px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.Navs_log_user a{
    color: white;
}
a{
    font-size: 24px;
    color: black;
    width: 200px;
    display: flex;
    justify-content: center;
}
.Navs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0x;
}
.Cajanav{
    margin-right: 20px;
}
.titulos{
    font-size: 30px;
    margin-left: 100px;
    font-family:'Autour+One';
}
@media(max-width:1000px){
    .header{
        height: 10vh;
    }
    .Navs{
        flex-direction: column;
        margin-left: 10px;
        margin-right: 0px;
    }
    .titulos{
        margin-left: 5px;
    }
    a{
        font-size: 15px;
    }
    .Navs_li{
        margin-bottom: 2px;
        margin-right: 0;
    }
}